# ignore DS_Store files
**/.DS_Store

/MoshiCourse/router-app
/MyTests/mdbostrap-test

# ignore all files in the node_modules folder for all projects
node_modules

# ignore vscode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix